-e .
matplotlib
numpy
torch
torchvision
einops
tqdm
blobfile
monai
nibabel
imgaug @ git+https://github.com/AlexanderRagnarsson/imgaug.git
segment-anything @ git+https://github.com/facebookresearch/segment-anything.git@6fdee8f2727f4506cfbbe553e23b895e27956588
